body {
	margin: 0px;
	font-family: Arial;
	font-size: 13px;
	min-height: 100%;
}

.nofloat {
	clear: both;
}

#map_container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#map {
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}

.container {
	/*width: 980px;*/
	margin-left: auto;
	margin-right: auto;
	/*background-color: #363842;*/
	color: White;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	top: 0px;
}

#left {
	float: left;
	padding-top: 0px;
	width: 264px;
}

#middle {
	float: left;
	width: 500px;
	background-color: rgba(54,56,66,0.7);
}

#right {
	float: right;
	padding: 10px;
}

#logo_container {
	text-align: center;
	padding-top: 5px;
	background-color: White;
} 

#logo {
	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 220px;
}

#title_container {
	padding: 10px;
	background-color: #363842;
	color: White;
	text-align: center;
}

#title {
	font-family: Arial;
	font-size: 34px;
	font-weight: bold;
	color: #A1FF91;
}

#subtitle {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	/*color: #505050;*/
}

.menu_item {
	/*padding: 10px;*/
	background-color: #A1FF91;
	color: Black;
	text-align: center;
	float: left;
	width: 100%;
}

.menu_item a {
	text-decoration: none;
	color: Black;
	display: block;
	padding: 10px;
}

.menu_item a:hover {
	background-color: #363842;
	color: White;
	font-weight: bold;
}

.button {
	width: 100%;
}

.conversion_source {
	float: left;
	width: 50%;
}

.source {
	padding: 0px 10px 10px 10px;
}

.source_title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 3px;
	border-bottom-width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #A1FF91;
	padding: 10px;
	background-color: #363842;
	color: White;
	margin-bottom: 5px;
}

.label {
	
}

.field {
	width: 100%;
}

.fieldend {
	clear: both;
}

.field_container {
	clear: left;
	margin: 4px;
}

.field_zone {
	width: 40px;
	text-align: center;
}

.error {
	color: Yellow;
	font-size: 12px;
	padding-left: 5px;
	padding-bottom: 5px;
}