body {
	margin-top: 0px;
	font-family: Arial;
	font-size: 13px;
}

.nofloat {
	clear: both;
}

#map {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	top: 0;
	left: 0;
	height: 350px;
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #363842;
	color: Black;
}

#left {
	float: left;
}

#middle {
	float: left;
	width: 49%;
}

#right {
	float: right;
	padding: 10px;
}

#logo_container {
	
} 

#title_container {
	padding: 10px;
	background-color: #363842;
	color: White;
}

#title {
	font-family: Arial;
	font-size: 34px;
	font-weight: bold;
	color: #A1FF91;
}

#subtitle {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	/*color: #505050;*/
}

.menu_item {
	/*padding: 10px;*/
	background-color: #A1FF91;
	color: Black;
	text-align: center;
	float: left;
	width: 50%;
}

.menu_item a {
	text-decoration: none;
	color: Black;
	display: block;
	padding: 10px;
}

.menu_item a:hover {
	background-color: #363842;
	color: White;
	font-weight: bold;
}

.button {
	width: 100%;
}

.conversion_source {
	float: left;
	width: 50%;
}

.source {
	padding: 0px 10px 10px 10px;
}

.source_title {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 3px;
	border-bottom-width: 100%;
	border-bottom-style: solid;
	border-bottom-color: #A1FF91;
	padding: 10px;
	background-color: #363842;
	color: White;
	margin-bottom: 5px;
}

.label {
	
}

.field {
	width: 100%;
}

.fieldend {
	clear: both;
}

.field_container {
	clear: left;
	margin: 4px;
}

.field_zone {
	width: 40px;
	text-align: center;
}

.error {
	color: Red;
	font-size: 10px;
}